:root {
  --dark: #374151;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background-color: var(--dark);
}


input,
button,
select {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.started,
.progress,
.finished {
  background-color: #ff8080;
}

.progress {
  background-color: #ffcc66;
}

.finished {
  background-color: #66cc66;
}
